a {
    color:white;
    text-decoration: none!important;
}
a:hover{
  cursor:pointer;
  color:rgba(255, 255, 255, 0.8)
}
.light{
  margin-top:10px;
  display: block;
  width: 8px;
  height: 8px;
  background-color: rgb(44, 44, 44,0.4);
  box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
  0px 0px 3px 3px rgba(46, 46, 46, 0.8);
  border-radius: 4px;
  clear: both;
  bottom: 0;
}
